<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
  <!--****************************************************
  * Workflow registration 
  ******************************************************-->
  <extension
        point="dreisoft.tresos.workflow.api.plugin.workflow">
     <workflow
           file="resources/WorkflowDemo1.xml"
           plugin="WorkflowDemo1">
     </workflow>     
     <workflow
           file="resources/WorkflowDemo2.xml"/>
   </extension>

   
</plugin>
