BODY {
  BACKGROUND    : url('img/background.jpg') no-repeat top left;
  BACKGROUND-COLOR : #687269;
  margin: 40px;
}

#welcome-text {
    padding-bottom : 0px;
}


#action-links {
    MARGIN: 40px;
}

#action-links A {
	width: 150px;
	height: 150px;
	background-repeat: no-repeat;
    background-position: center center;
    margin-top: 20px;
    display: inline-block;
    border-right: 1px dashed grey
}

#action-links A#start,A#training {
    border-right: none
}

/* Hover ON/OFF images  */
#action-links A#whatsnew,inactive img {
    background-image:url('icons/new_off.png');
}
#action-links A#whatsnew:hover,active img {
    background-image:url('icons/new_on.png');
}

#action-links A#releasenotes,inactive img {
    background-image:url('icons/releasenotes_off.png');
}
#action-links A#releasenotes:hover,active img {
    background-image:url('icons/releasenotes_on.png');
}

#action-links A#help,inactive img {
    background-image:url('icons/help_off.png');
}
#action-links A#help:hover,active img {
    background-image:url('icons/help_on.png');
}

#action-links A#training,inactive img {
    background-image:url('icons/training_off.png');
}
#action-links A#training:hover,active img {
    background-image:url('icons/training_on.png');
}

#action-links A#supportrequest,inactive img {
    background-image:url('icons/supportrequest_off.png');
}
#action-links A#supportrequest:hover,active img {
    background-image:url('icons/supportrequest_on.png');
}

#action-links A#license,inactive img {
    background-image:url('icons/license_off.png');
}
#action-links A#license:hover,active img {
    background-image:url('icons/license_on.png');
}

#action-links A#start,inactive img {
    background-image:url('icons/start_off.png');
}
#action-links A#start:hover,active img {
    background-image:url('icons/start_on.png');
}


/* hide the hyperlink text and description */
#action-links A p .text, #action-links A .link-label {
    display : none;
}

/* TODO maybe show texts on hover
#action-links A:hover .link-label,
#action-links A:focus .link-label,
#action-links A:active .link-label {
    display : block;
    width : 16em;
    margin-left : 10px;
}
#action-links A:hover p .text,
#action-links A:focus p .text,
#action-links A:active p .text {
    display : block;
}
*/

#standby {
  FONT-FAMILY   : Verdana,Arial,Helvetica;
}

#standby-title {
/*   COLOR         : #00eb00; */
  FONT-SIZE     : 18pt;
  TEXT-ALIGN    : left;
  MARGIN-LEFT   : 0px;
  MARGIN-TOP    : 10px;
  MARGIN-BOTTOM : 5px;
}

#standby-links {
  PADDING       : 15px;
  FONT-SIZE     : 11pt;
  MARGIN-TOP    : 10px;
  MARGIN-BOTTOM : 5px;
  /* TEXT-ALIGN    : left;  */
}

#standby-links A {
  COLOR         : #00eb00;
  PADDING       : 8px;
}


